<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Friend Finder</title>
    <% include ../partials/head %>
  </head>
  <body class = "container">

    <header>
      <% include ../partials/header %>
    </header>
      <h3>Answer 10 questions and find your next BFF! :)</h3>

      <form class="" action="survey" method="GET">
        <button type="submit" name="button">Let's Begin!</button>
      </form>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
